[submodule "bugzilla-dashboard"]
	path = bugzilla-dashboard
	url = https://github.com/ccooper/bugzilla-dashboard
[submodule "taskcluster/scrum"]
	path = taskcluster/scrum
	url = https://github.com/taskcluster/scrum.git
