body {
    font-family: Fira sans;
    background-color: #15191F;
    color: #FFFFFF;
    font-size: 16px;
}

a, a:visited {
    color: #86add4;
    text-decoration: none;
}

a:hover {
    color: red;
}

div.header, div.summary, div.details, div.bugs {
    margin: auto;
    width: 80%;
}

div.left {
    float: left;
}

div#breadcrumbs {
    font-size: 2em;
    line-height: 3em;
    float: right;
}

div#breadcrumbs a {
    text-decoration: none;
}

div.main {
    clear: left;
}

table.uptime, table.tree-closures {
    width: 100%;
}

table.uptime th, table.uptime td {
    padding: 5px;
}

table.zebra tr:nth-child(odd) {
    background-color: #26202F;
}

table.has_header tr:nth-child(1) {
    background-color: #04080D;
    color: #666666;
}

td {
    font-weight: bold;
    height: 2em;
    font-size: 18px;
}

th.left, td.left {
    text-align: left;
}

td.centered {
    text-align: center;
}

td.nowrap {
    white-space: nowrap;
}

td.uptime {
    width: 20%;
    text-align: center;
}

td.good, td.good a, td.good a:visited  {
    color: #8fd898;
    text-decoration: none;
}

td.good a:hover {
    color: #15191F;
    background-color: #8fd898;
}

td.ok, td.ok a, td.ok a:visited {
    color: #d5d88f;
    text-decoration: none;
}

td.ok a:hover {
    color: #15191F;
    background-color: #d5d88f;
}

td.bad, td.bad a, td.bad a:visited {
    color: #d6b88f;
    text-decoration: none;
}

td.bad a:hover {
    color: #15191F;
    background-color: #d6b88f;
}

td.worst, td.worst a, td.worst a:visited {
    color: #d88f8f;
    text-decoration: none;
}

td.worst a:hover {
    color: #15191F;
    background-color: #d88f8f;
}

.closed {
    background-color: #d9534f;
    border-radius: .25rem;
}

.open {
    background-color: #5cb85c;
    border-radius: .25rem;
}

.approval {
    background-color: #f0ad4e;
    border-radius: .25rem;
}

.closed:hover {
    background-color: #fa756f;
    border-radius: .25rem;
}

.open:hover {
    background-color: #7ed07e;
    border-radius: .25rem;
}

.approval:hover {
    background-color: #f2cf6f;
    border-radius: .25rem;
}

.closed a, .open a, .approval a {
    color: #26202F;
    text-decoration: none;
}

.details {
    padding-left: 5px;
    padding-right: 5px;
}

img.spinner {
    width: 24px;
}

img.small {
    width: 12px;
}

tr.closure td {
    font-size: 12px;
}

div.breadcrumbs {
    padding-right: 10px;
    float: right;
}

img.icon {
    float: left;
    padding-right: 2em;
    padding-left: 2em;
}

div.section {
    clear: both;
    padding-bottom: 1em;
}

img.logo {
    float: right;
    width: 10em;
    padding: 2em;
}

h2 {
    color: #86add4;
    text-decoration: underline;
}

h3 {
    color: #537aa1;
}

twitter-widget.twitter-tweet {
    margin: auto;
}
