body {
    font-family: Fira sans;
    background-color: #15191F;
    color: #FFFFFF;
    font-size: 12px;
}

a {
    color: lightgrey;
}

a:hover {
    color: red;
}

div.header, div.summary, div.details, div.bugs {
    margin: auto;
    width: 80%;
}

div.left {
    float: left;
}

div#breadcrumbs {
    font-size: 2em;
    line-height: 3em;
    float: right;
}

div#breadcrumbs a {
    text-decoration: none;
}

div.main {
    clear: left;
}

table.uptime {
    width: 100%;
}

table.uptime th, table.uptime td {
    padding: 5px;
}

table.zebra tr:nth-child(odd) {
    background-color: #26202F;
}

table.has_header tr:nth-child(1) {
    background-color: #04080D;
    color: #666666;
}

td {
    font-weight: bold;
    height: 2em;
    font-size: 18px;
}

td.left {
    text-align: left;
}

td.centered {
    text-align: center;
}

td.uptime {
    width: 20%;
    text-align: center;
}

td.good {
    color: #8fd898;
}

td.ok {
    color: #d5d88f;
}

td.bad {
    color: #d6b88f;
}

td.worst {
    color: #d88f8f;
}

.closed {
    background-color: #d9534f;
    border-radius: .25rem;
}

.open {
    background-color: #5cb85c;
    border-radius: .25rem;
}

.approval {
    background-color: #f0ad4e;
    border-radius: .25rem;
}

.closed:hover {
    background-color: #fa756f;
    border-radius: .25rem;
}

.open:hover {
    background-color: #7ed07e;
    border-radius: .25rem;
}

.approval:hover {
    background-color: #f2cf6f;
    border-radius: .25rem;
}

.closed a, .open a, .approval a {
    color: #26202F;
    text-decoration: none;
}

.details {
    padding-left: 5px;
    padding-right: 5px;
}

img.spinner {
    width: 24px;
}
